<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMS2.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
 <appSettings>
    <add key="DeviceCode" value="S500" />
    <add key="RUId" value="00000000-0000-0000-0000-000000000000" />
    <add key="BcoId" value="161d9b83-0bb5-47a9-b0e3-44f753fc9434" />
    <add key="UpInter" value="10" />
    <add key="DownInter" value="60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Cms" connectionString="Data Source=localhost;Initial Catalog=cms2central;User ID=sa;Password=mssql;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="Tracking" connectionString="Data Source=localhost;Initial Catalog=tracking2central;User ID=sa;Password=mssql;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="CmsCentral" connectionString="Data Source=121.96.38.9;Initial Catalog=cms2;User ID=cmsuser;Password=P9ssW0rd;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" providerName="System.Data.SqlClient" />
    <add name="TrackingCentral" connectionString="Data Source=121.96.38.9;Initial Catalog=tracking2;User ID=cmsuser;Password=P9ssW0rd;Connect Timeout=180;Connection Lifetime=0;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <userSettings>
    <CMS2.Client.Properties.Settings>
      <setting name="DeviceCode" serializeAs="String">
        <value />
      </setting>
      <setting name="DeviceRevenueUnitId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="DeviceBcoId" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="LocalDbServer" serializeAs="String">
        <value>192.168.0.27</value>
      </setting>
      <setting name="LocalDbName" serializeAs="String">
        <value>cms2</value>
      </setting>
      <setting name="LocalDbUsername" serializeAs="String">
        <value>cmsuser</value>
      </setting>
      <setting name="LocalDbPassword" serializeAs="String">
        <value>P9ssW0rd</value>
      </setting>
    </CMS2.Client.Properties.Settings>
  </userSettings>
</configuration>