@using GridMvc.Html
@model List<CMS2.Entities.CommodityType>
<br/>
<h4>Commodity Type</h4>

@{
    if (Model != null)
    {
        @Html.Grid(Model).Named("gridCommodityType").Columns(columns =>
        {
            columns.Add(m => m.CommodityTypeName).Titled("Name").Sortable(true).Filterable(true);
            columns.Add(m => m.EvmDivisor).Titled("EVM Divisor").Sortable(true).Filterable(true);
            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => @<a href="CommodityType/Edit?id=@m.CommodityTypeId">Edit</a>);
            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(m => @<a href="CommodityType/Delete?id=@m.CommodityTypeId">Delete</a>);
        }).WithPaging(10)
    }
}
<br/>
@Html.ActionLink("Add Commodity Type", "Add", null, new { @class = "btn btn-default" })